<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 20px;
      }
      .post-list-container {
        max-width: 800px;
        margin: 0 auto;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }
      .header h1 {
        margin: 0;
        color: #007bff;
      }
      .header .username {
        font-size: 18px;
        color: #495057;
        font-weight: bold;
      }
      .post {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }
      .post h2 {
        margin: 0 0 10px;
        color: #007bff;
      }
      .post p {
        margin: 10px 0;
        color: #495057;
      }
      .post .meta {
        font-size: 14px;
        color: #6c757d;
      }
      .post a {
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
      }
      .post a:hover {
        color: #0056b3;
      }
      .post a h2 {
        transition: transform 0.3s ease;
      }
      .post a:hover h2 {
        transform: translateX(10px);
      }
    </style>
  </head>
  <body>
    <div class="post-list-container">
      <div class="header">
        <h1>Home</h1>
      </div>
      <% posts.forEach(post => { %>
      <div class="post">
        <a href="/posts/<%= post.id %>">
          <h2><%= post.title %></h2>
        </a>
        <p><%= post.des %></p>
        <div class="meta">
          By: <%= post.user.username %> | Updated at: <%= new
          Date(post.updatedAt).toLocaleString() %>
        </div>
      </div>
      <% }) %>
    </div>
    <a href="/logout" class="logout">Logout</a>
  </body>
</html>
